.chat-button {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.8rem;
    color: white;
    background-color: #68217a;
    border: none;
    outline: none;
    cursor: pointer;
}

.chat-button:hover {
    background-color: #f6d3ff;
}

.widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 20px 30px;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(#1e1e1e, #68217a);
}

.header-content {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.title-button-wrap {
    position: absolute;
    top: 16px;
    right: 16px;
}

.title-button {
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.title-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.input-wrap {
    display: flex;
    margin: 10px 0;
    width: 44rem;
    height: 3rem;
    background-color: white;
    border-radius: 5px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 100%;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding: 0;
    background-color: white;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-input:focus,
.search-input:active {
    box-shadow: none;
    outline: none;
}

.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    width: 4em;
    height: 4em;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.button-content:hover .menu-button {
    scale: 1.2;
}

.menu-name {
    margin: 15px 0;
    color: white;
    font-weight: bold;
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.additional-items {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.sub-title {
    margin: 30px 0 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.slider-button {
    display: flex;
    top: 27rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #68217a;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    z-index: 99999999;
    position: absolute;
}

.slider-button:hover {
    color: #f8dcff;
}

.prev-button {
    left: -2rem;
}

.next-button {
    right: -2rem;
}

.items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.additional-item {
    position: relative;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.additional-item-image {
    width: 12rem;
    height: 9rem;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(1);
}


.additional-hover-button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999999;
    transition: all ease-in .2s;
    opacity: 0;
}

.additional-hover-button:hover {
    background-color: white;
}

.size-content {
    font-size: 0.8rem;
    margin-bottom: 30px;
    opacity: 0;
    transition: all ease-in .2s;
}

.additional-item:hover .additional-hover-button {
    opacity: 1;
}

.additional-item:hover .size-content {
    opacity: 1;
}

.additional-item:hover .additional-item-image {
    filter: blur(1px) brightness(50%);
}

.additional-item:hover::after {
    content: '빈 디자인 만들기';
    position: absolute;
    top: 4rem;
    left: 2.5rem;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all ease-in .2s;
}

.docs {
    background-image: url('./assets/Docs.JPG');
}

.whiteboard {
    background-image: url('./assets/화이트보드.JPG');
}

.presentation {
    background-image: url('./assets/프레젠테이션.JPG');
}

.video {
    background-image: url('./assets/동영상.JPG');
}

.instagram {
    background-image: url('./assets/인스타그램\ 게시물\(정사각형\).JPG');
}

.poster {
    background-image: url('./assets/포스터\(세로\).JPG');
}

.leaflet {
    background-image: url('./assets/전단지.JPG');
}

.worksheet {
    background-image: url('./assets/워크시트\(세로형\).JPG');
}

.logo {
    background-image: url('./assets/로고.JPG');
}

.document {
    background-image: url('./assets/문서.JPG');
}

.youtube {
    background-image: url('./assets/Youtube\ 섬네일.JPG');
}

.story {
    background-image: url('./assets/스토리.JPG');
}

.additional-item-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.current-design {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    overflow: scroll;
}

.title-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design-type {
    font-size: 0.7rem;
    margin-bottom: 30px;
}

.no-image {
    background-image: url('./assets/기본\ 이미지.JPG');
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.change-view-type-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.change-view-type-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.type-tip-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    border-radius: 5px;
    transition: all ease-in .2s;
}

.design-item {
    position: relative;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.hover-button-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999999;
    transition: all ease-in .2s;
    opacity: 0;
}

.design-hover-button {
    width: 2rem;
    height: 2rem;
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

.design-item:hover .hover-button-wrap {
    opacity: 1;
}

.design-item:hover .design-hover-button {
    opacity: 1;
}

.design-hover-button:hover {
    background-color: #f9e0ff;
}

.design-item-image {
    width: 12rem;
    height: 9rem;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(1);
}

.design-item:hover .design-item-image {
    filter: brightness(70%);
    transition: all ease-in .2s;
}

.design-item-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.items-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.design-item-list {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 3fr 3fr 3fr 0.2fr;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding: 10px;
    cursor: pointer;
}

.design-item-list:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: all ease-in .2s;
}

.design-item-list:last-child {
    justify-content: end;
}

.design-item-image-list {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 10px;
    border-radius: 3px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.design-item-name-list {
    font-size: 0.9rem;
    font-weight: bold;
}

.design-type-list {
    font-size: 0.9rem;
}

.more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.more-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.advertisement-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px 50px;
    width: 100%;
    background: hsla(288, 57%, 30%, 0.8);
    border-radius: 30px;
}

.left-box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-right: 20px;
}

.advertisement-title {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.advertisement-content {
    font-size: 1rem;
    color: white;
}

.advertisement-button-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
}

.advertisement-button {
    width: 9rem;
    height: 3rem;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    margin-right: 30px;
    cursor: pointer;
    font-size: 1.05rem;
}

.advertisement-button:hover {
    background-color: white;
    color: #68217a;
    transition: all ease-in .2s;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theia-image {
    width: 20rem;
    height: 15rem;
    background-image: url('./assets/테이아\ 화면.JPG');
}

@media (max-width: 1100px) {
    .advertisement-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .menu-button {
        margin: 0 15px;
    }

    .design-item-image {
        width: 16rem;
        height: 12rem;
        background-image: url('./assets/큰\ 기본이미지.JPG');
    }
}
